<main style="background:#dddddd;">

  <div class="container" style="background:#cccccc;">
    <h1>お店屋さんのサイトです</h1>
    <div class="row">
      <div class="col-12 col-lg-3" style="background:#ffcccc;">
        <ul class="list-group list-group-flush list-unstyled text-center">
          <li class="list-grpup-item">メニュー1</li>
          <li class="list-grpup-item">メニュー2</li>
          <li class="list-grpup-item">メニュー3</li>
          <li class="list-grpup-item">メニュー4</li>
          <li class="list-grpup-item">メニュー5</li>
        </ul>
      </div>
      <div class="col-12 col-lg-9" style="height:300px; background:red;">
        <p>お店屋さんです。見ていってください。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-9 offset-lg-3" style="background:#ffcccc;">
        <div>
          <h2>商品</h2>
        </div>
        <div class="row">
          <div class="col-lg-4" style="background:#ccccff;">111</div>
          <div class="col-lg-4" style="background:#ccffcc;">222</div>
          <div class="col-lg-4" style="background:#ffcccc;">333</div>
        </div>
      </div>
    </div>
  </div>

</main>