<footer class="mt-5 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-9 mt-4">
        <h1>お店屋さん</h1>
        <p>お店屋さんはやっています。</p>
      </div>
      <div class="col-3 mt-4 text-right">
        <ul class="list-group list-unstyled">
          <li class="list-grpup-item">aaaaa</li>
          <li class="list-grpup-item">bbbbb</li>
          <li class="list-grpup-item">ccccc</li>
        </ul>
      </div>
      <div class="col-12 mt-3">
        <p class="text-center">shop replay</p>
      </div>
    </div>
  </div>
</footer>